# INDICADOR: INTEGRIDADE

## 00. Declarando Bibliotecas

In [25]:
import pandas as pd

## 1. Criação de dataframes e adaptação

#### 1.1 Criando os dataframes das bases de dados em Excel

In [26]:
modalidade = pd.read_excel('dados/STG_MDL.xls')
pagamento = pd.read_excel('dados/STG_PGT.xls')
movimento = pd.read_excel('dados/STG_MVT_CRD.xls')
operacao = pd.read_excel('dados/STG_OPR_ITT.xls')
fonte = pd.read_excel('dados/STG_FNT_ITT.xls')

#### 1.2 Aplicando padrão de nome de colunas estabelecido pela equipe, apenas para etapa de manipulação

In [27]:
modalidade.columns = ['id_mod', 'codigo_mod', 'descri_mod', 'DAT_INC_DBO']
pagamento.columns = ['id_pagamento', 'vlr_pago', 'data_vencimento', 'codigo_mod', 'qtd_clientes', 'qtd_pagamento', 'id_fonte', 'tipo_pessoa', 'DAT_RSS_FNT_ITT', 'DAT_INC_DBO']
movimento.columns = ['id_movi', 'vlr_saldo', 'vlr_total_fat', 'vlr_min_fat', 'vlr_parcela_fat', 'qtd_clientes', 'qtd_movi', 'tipo_pessoa', 'id_fonte', 'codigo_mod', 'DAT_RSS_FNT_ITT', 'DAT_INC_DBO']
operacao.columns = ['id_operacao', 'vlr_contrato', 'qtd_parcelas', 'vlr_devido', 'qtd_clientes', 'qtd_operacao', 'id_fonte', 'id_mod', 'tipo_pessoa', 'DAT_RSS_FNT_ITT', 'DAT_INC_DBO']
fonte.columns = ['id_fonte', 'cnpj', 'complemento', 'NOM_COM', 'NOM_RAZ_SCL', 'DAT_INC_DBO']

#### 1.3 Criando o atributo .nome para facilitar a exibição das tabelas nas respectivas funções

In [28]:
fonte.nome = 'Fonte'
movimento.nome = 'Movimentações'
operacao.nome = 'Operações'
pagamento.nome = 'Pagamento'
modalidade.nome = 'Modalidade'

## 2. Apresentação da situação atual dos dados

In [29]:
fonte.head(10)

,id_fonte,cnpj,complemento,NOM_COM,NOM_RAZ_SCL,DAT_INC_DBO
0,137,2427884087,2805,NMN,NMN,2019-12-19 13:43:41.914
1,183,12182674487,2635,NMN,NMN,2019-12-19 13:43:41.914
2,197,16167328168,1802,NMN,NMN,2019-12-19 13:43:41.914
3,267,279925978,2329,NMN,NMN,2019-12-19 13:43:41.914
4,322,20579036860,2397,NMN,NMN,2019-12-19 13:43:41.914
5,336,6574465046,2465,NMN,NMN,2019-12-19 13:43:41.914
6,343,306428723,2380,NMN,NMN,2019-12-19 13:43:41.914
7,356,7422524275,2550,NMN,NMN,2019-12-19 13:43:41.914
8,380,707714471,1904,NMN,NMN,2019-12-19 13:43:41.914
9,394,582504932,3094,NMN,NMN,2019-12-19 13:43:41.914

In [30]:
modalidade.head(10)

,id_mod,codigo_mod,descri_mod,DAT_INC_DBO
0,17,E02,ADIANTAMENTO DEPOSITANTE,2019-12-19 13:37:34.759
1,13,B99,OUTROS FINANCIAMENTOS,2019-12-19 13:37:34.759
2,15,D01,CARTAO DE CREDITO,2019-12-19 13:37:34.759
3,19,G01,TITULOS DESCONTADOS,2019-12-19 13:37:34.759
4,2,A02,EMPRESTIMO - CAPITAL DE GIRO,2019-12-19 13:37:34.759
5,3,A04,EMPRESTIMO - CREDITO PESSOAL,2019-12-19 13:37:34.759
6,16,E01,CHEQUE ESPECIAL E CONTA GARANTIDA,2019-12-19 13:37:34.759
7,8,B03,FINANCIAMENTO - IMOBILIARIOS SFH,2019-12-19 13:37:34.759
8,7,B02,FINANCIAMENTO - IMPORTACAO E EXPORTACAO,2019-12-19 13:37:34.759
9,4,A05,EMPRESTIMO - MICROCREDITO,2019-12-19 13:37:34.759

In [31]:
movimento

,id_movi,vlr_saldo,vlr_total_fat,vlr_min_fat,vlr_parcela_fat,qtd_clientes,qtd_movi,tipo_pessoa,id_fonte,codigo_mod,DAT_RSS_FNT_ITT,DAT_INC_DBO
0,1,NaN,NaN,NaN,4.595517e+10,37186,677272,F,67,C01,2020-01-16,2020-01-17 17:49:17.524
1,2,NaN,NaN,NaN,7.387237e+10,307070,2741111,F,67,B99,2020-01-16,2020-01-17 17:49:17.524
2,3,NaN,NaN,NaN,2.868181e+09,601,1964,F,67,B01,2020-01-16,2020-01-17 17:49:17.524
3,4,NaN,NaN,NaN,6.111251e+10,18820,244041,F,67,B03,2020-01-16,2020-01-17 17:49:17.524
4,5,NaN,NaN,NaN,2.152609e+06,2,4,F,67,F01,2020-01-16,2020-01-17 17:49:17.524
5,6,NaN,NaN,NaN,4.607337e+08,33,329,F,67,B07,2020-01-16,2020-01-17 17:49:17.524
6,7,NaN,NaN,NaN,2.638331e+11,721836,10020532,F,67,A04,2020-01-16,2020-01-17 17:49:17.524
7,8,NaN,NaN,NaN,1.838029e+11,135773,1797516,F,67,B05,2020-01-16,2020-01-17 17:49:17.524
8,9,NaN,NaN,NaN,9.738713e+08,5061,38003,F,67,A05,2020-01-16,2020-01-17 17:49:17.524
9,10,2.181758e+10,NaN,NaN,NaN,194378,194921,F,67,E01,2020-01-16,2020-01-17 17:49:17.524
10,11,NaN,NaN,NaN,9.496722e+09,1890,123559,F,67,G01,2020-01-16,2020-01-17 17:49:17.524
11,12,NaN,NaN,NaN,3.556795e+11,494442,19241809,F,67,A01,2020-01-16,2020-01-17 17:49:17.524
12,13,NaN,NaN,NaN,1.834447e+09,46495,230867,F,67,A99,2020-01-16,2020-01-17 17:49:17.524
13,14,NaN,NaN,NaN,1.733950e+08,43,330,F,67,B06,2020-01-16,2020-01-17 17:49:17.524
14,15,NaN,1.932767e+12,6.071738e+11,NaN,1840240,21748501,F,67,D01,2020-01-16,2020-01-17 17:49:17.524

In [32]:
operacao.head(15)

,id_operacao,vlr_contrato,qtd_parcelas,vlr_devido,qtd_clientes,qtd_operacao,id_fonte,id_mod,tipo_pessoa,DAT_RSS_FNT_ITT,DAT_INC_DBO
0,1,NaN,45,NaN,341,358,67,A04,F,2020-01-16,2020-01-27 10:49:48.15
1,2,NaN,63,NaN,103,108,67,B99,F,2020-01-16,2020-01-27 10:49:48.15
2,3,NaN,22,NaN,15,16,67,B05,F,2020-01-16,2020-01-27 10:49:48.15
3,4,NaN,48,NaN,9,9,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
4,5,NaN,290,NaN,3,3,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
5,6,NaN,109,NaN,1,1,67,B99,F,2020-01-16,2020-01-27 10:49:48.15
6,7,24231168.0,20,14774641.0,6,7,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
7,8,NaN,59,NaN,235,253,67,A04,F,2020-01-16,2020-01-27 10:49:48.15
8,9,NaN,38,NaN,14,14,67,B05,F,2020-01-16,2020-01-27 10:49:48.15
9,10,NaN,117,NaN,4,4,67,A01,F,2020-01-16,2020-01-27 10:49:48.15
10,11,NaN,332,NaN,1,1,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
11,12,NaN,53,NaN,7,7,67,B05,F,2020-01-16,2020-01-27 10:49:48.15
12,13,NaN,13,NaN,141,143,67,A99,F,2020-01-16,2020-01-27 10:49:48.15
13,14,NaN,250,NaN,12,12,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
14,15,83720000.0,158,61146076.0,4,4,67,C01,F,2020-01-16,2020-01-27 10:49:48.15

In [33]:
pagamento.head(10)

,id_pagamento,vlr_pago,data_vencimento,codigo_mod,qtd_clientes,qtd_pagamento,id_fonte,tipo_pessoa,DAT_RSS_FNT_ITT,DAT_INC_DBO
0,451,515711,16082022,A04,22,22,67,F,2020-01-16,2020-01-17 17:50:42.746
1,452,60763,26102020,A99,2,2,67,F,2020-01-16,2020-01-17 17:50:42.746
2,453,8588195,24022019,G01,22,22,67,F,2020-01-16,2020-01-17 17:50:42.746
3,454,369084,24062018,B99,16,23,67,F,2020-01-16,2020-01-17 17:50:42.746
4,455,13054,20022021,B99,1,1,67,F,2020-01-16,2020-01-17 17:50:42.746
5,456,1206954,4012018,A04,3,5,67,F,2020-01-16,2020-01-17 17:50:42.746
6,457,21684,24122018,B07,1,1,67,F,2020-01-16,2020-01-17 17:50:42.746
7,458,341157,27032016,B99,10,11,67,F,2020-01-16,2020-01-17 17:50:42.746
8,459,3929,21032018,B05,1,1,67,F,2020-01-16,2020-01-17 17:50:42.746
9,460,12700,28112018,A05,3,3,67,F,2020-01-16,2020-01-17 17:50:42.746

## 3. Funções para análise da Integridade dos dados

#### 3.1 Ocultar todos os campos nulos sem afetar a integridade. (Condições especificas para as tabelas movimento e operação). 
Ponderando que, na análise abaixo, dividimos a função em dois dataframes para facilitar a análise, sendo um dataframe somente COM a modalidade C01 e outro dataframe SEM a modalidade C01. Separamos o dataframe em duas partes pois para análisar a modalidade C01, precisamos de condições especificas, como a necessidade das colunas "vlr_contrato" e "vlr_devido". Os valores nulos nas colunas "vlr_contrato" e "vlr_devido" só existem quando não há o atributo da modalidade "C01". Os valores nulos que existem não prejudicam a integridade das informações, mas para melhor apresentação em análise foram ocultados.

##### 3.1.1 Sem a modalidade "CO1" - Tabela 'Operação'

In [34]:
# Definindo a caracteristica especifica (Dataframe SEM o C01) do dataframe
id_sem_C01 = operacao[(operacao['id_mod'] != 'C01')]

# Criando o dataframe com as caracteristicas especificas e utilizando as colunas necessárias para a análise
df_sem_C01 = pd.DataFrame(id_sem_C01, columns = ['id_operacao', 'qtd_parcelas', 'qtd_clientes', 'qtd_operacao', 'id_fonte', 'id_mod', 'tipo_pessoa', 'DAT_RSS_FNT_ITT', 'DAT_INC_DBO'])

In [35]:
df_sem_C01

,id_operacao,qtd_parcelas,qtd_clientes,qtd_operacao,id_fonte,id_mod,tipo_pessoa,DAT_RSS_FNT_ITT,DAT_INC_DBO
0,1,45,341,358,67,A04,F,2020-01-16,2020-01-27 10:49:48.15
1,2,63,103,108,67,B99,F,2020-01-16,2020-01-27 10:49:48.15
2,3,22,15,16,67,B05,F,2020-01-16,2020-01-27 10:49:48.15
3,4,48,9,9,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
4,5,290,3,3,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
...,...,...,...,...,...,...,...,...,...
885,886,102,1,1,67,A04,F,2020-01-16,2020-01-27 10:49:48.15
887,888,228,7,7,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
888,889,52,1,1,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
889,890,182,1,1,67,B03,F,2020-01-16,2020-01-27 10:49:48.15
890,891,186,2,2,67,B03,F,2020-01-16,2020-01-27 10:49:48.15

In [36]:
df_sem_C01.isnull().sum() #conta quantos dados nulos (NÃO HÁ DADOS NULOS QUANDO "OCULTAMOS" as colunas 'vlr_contrato' e 'vlr_devido')

id_operacao        0
qtd_parcelas       0
qtd_clientes       0
qtd_operacao       0
id_fonte           0
id_mod             0
tipo_pessoa        0
DAT_RSS_FNT_ITT    0
DAT_INC_DBO        0
dtype: int64

In [37]:
pd.DataFrame(df_sem_C01['id_mod'].value_counts()) #trazendo ID e suas modalidades

     id_mod
B03     214
A01     122
A04     112
B99     104
B05      71
A99      35
A05      20
B01      19
B06       4
B07       2
G01       1
F01       1

##### 3.1.2 Com a modalidade "C01" - Tabela 'Operação'

In [38]:
# Definindo as caracteristicas especificas (Dataframe COM o C01) do dataframe
id_mod_C01 = operacao[(operacao['id_mod'] == 'C01')]

# Criando o dataframe com as caracteristicas especificas e com todas as colunas
df_com_C01 = pd.DataFrame(id_mod_C01)

In [39]:
df_com_C01

,id_operacao,vlr_contrato,qtd_parcelas,vlr_devido,qtd_clientes,qtd_operacao,id_fonte,id_mod,tipo_pessoa,DAT_RSS_FNT_ITT,DAT_INC_DBO
6,7,24231168.0,20,14774641.0,6,7,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
14,15,83720000.0,158,61146076.0,4,4,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
18,19,453409414.0,82,345569291.0,86,93,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
19,20,831887355.0,70,387293236.0,150,171,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
22,23,168720000.0,117,47151818.0,10,10,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
...,...,...,...,...,...,...,...,...,...,...,...
853,854,235637981.0,93,123012165.0,21,22,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
859,860,62075885.0,17,17357289.0,7,15,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
869,870,213020000.0,176,132743567.0,12,15,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
873,874,174842840.0,103,61800347.0,12,15,67,C01,F,2020-01-16,2020-01-27 10:49:48.15
886,887,85699650.0,105,57998876.0,14,15,67,C01,F,2020-01-16,2020-01-27 10:49:48.15

In [40]:
df_com_C01.isnull().sum() #conta quantos dados nulos (NÃO HÁ DADOS NULOS QUANDO EXISTE SOMENTE A MODALIDADE C01)

id_operacao        0
vlr_contrato       0
qtd_parcelas       0
vlr_devido         0
qtd_clientes       0
qtd_operacao       0
id_fonte           0
id_mod             0
tipo_pessoa        0
DAT_RSS_FNT_ITT    0
DAT_INC_DBO        0
dtype: int64

##### 3.2 Verifica na Tabela fonte se o Nome Comercial e Razão Social são Strings

In [41]:
def checar_string(Fonte):
    NOM = pd.DataFrame(Fonte, columns = ['NOM_COM', 'NOM_RAZ_SCL'])
    NOM_COM = []
    RAZ_SCL = []
    cont_a = 0
    cont_b = 0
    for x in NOM.columns:
        for y in NOM[x]:
            
            if x == 'NOM_COM':
                cont_a += 1
                if type(y) != str:
                    NOM_COM.append(cont_a)
                    
            if x == 'NOM_RAZ_SCL':
                cont_b += 1
                if type(y) != str:
                    RAZ_SCL.append(cont_b)
                    
    print(f'''
    Foram identificados {len(NOM_COM)} dados incoerentes na coluna Nome Comercial
    e na coluna Nome Razão Social foram identificados {len(RAZ_SCL)} dados incoerentes''')
    
            
FONTE = checar_string(fonte)
FONTE

    Foram identificados 0 dados incoerentes na coluna Nome Comercial
    e na coluna Nome Razão Social foram identificados 0 dados incoerentes

#### 3.2 Validação de CNPJs
Nessa função o objetivo é você validar todos os CNPJ's, verificando os numeros de digitos

In [42]:
valida_cnpj = pd.DataFrame(fonte, columns = ['cnpj', 'complemento'])

In [43]:
# Declarando listas e variaveis
cnpj = []
complemento = []
certos_cnpj = []
certos_complemento = []

# Verificando se a primeira parte do CPJN possui 10 digitos
for x in valida_cnpj['cnpj']:
    if len(str(x)) == 10:
        cnpj.append(str(x))
    else:
        cnpj.append('a')

# Verificando se a segunda parte do CNPJ possui 4 digitos
for x in valida_cnpj['complemento']:
    if len(str(x)) == 4:
        complemento.append(str(x))
    else:
        complemento.append('a')

# Verificando se ao somar as duas partes do CNPJ irá dar 14 digitos
for x in range(valida_cnpj.shape[0]):
    if len(cnpj[x]) + len(complemento[x]) == 14:
        certos_cnpj.append(cnpj[x])
        certos_complemento.append(complemento[x])
        
validos = fonte['cnpj'].isin(certos_cnpj)
cnpj_validos = fonte[validos]
cnpj_validos

,id_fonte,cnpj,complemento,NOM_COM,NOM_RAZ_SCL,DAT_INC_DBO
0,137,2427884087,2805,NMN,NMN,2019-12-19 13:43:41.914
5,336,6574465046,2465,NMN,NMN,2019-12-19 13:43:41.914
7,356,7422524275,2550,NMN,NMN,2019-12-19 13:43:41.914
13,481,9804044092,2958,NMN,NMN,2019-12-19 13:43:41.914
16,505,1178913365,2703,NMN,NMN,2019-12-19 13:43:41.914
...,...,...,...,...,...,...
992,969,2290535681,2006,NMN,NMN,2019-12-19 13:43:41.914
994,997,2615960085,2125,NMN,NMN,2019-12-19 13:43:41.914
995,1016,2492494372,1938,NMN,NMN,2019-12-19 13:43:41.914
997,3,3388575864,2159,MPM VVSTM,MPM VVSTM SJRVVPPS,2019-12-19 13:43:41.914
999,20,3820722477,1989,MR PMRTNJRS MMNPP JJ VNVJSTVMJNTP S.M.,MR PMRTNJRS MMNPP JJ VNVJSTVMJNTP S.M.,2019-12-19 13:43:41.914

In [44]:
fonte[validos].shape[0]

433

#### 3.3 Validação IDs
Nesta função, temos o objetivo de identificar se os ID's possuem continuidade, e indentificar os ID's que estão faltando.

Exemplo:
(1,2,3,5,7,8,9)

Estão faltando os ID's 4 e 6.

In [45]:
def gap_id(df):
    IDs = df[df.columns[0]].to_list()
    padrao = range(min(IDs), max(IDs) + 1)
    faltante = list()
    for ID in padrao:
        if ID not in IDs:
            faltante.append(ID)
    if len(faltante) == 0:
        print(f"100% dos ID's da tabela {df.nome} são sequenciais, pois não apresentam nenhum gap.")
        return
    print(f"Existe um gap de {(len(faltante)/len(list(IDs))) * 100:.3f}% na sequência de ID's da tabela {df.nome}")

In [51]:
analisa_id_fonte = gap_id(fonte)
analisa_id_operacao = gap_id(operacao)
analisa_id_modalidade = gap_id(modalidade)
analisa_id_pagamento = gap_id(pagamento)
analisa_id_movimentacao = gap_id(movimento)

In [52]:
gap_id(fonte)

Existe um gap de 1.687% na sequência de ID's da tabela Fonte

#### 3.4 Validação das modalidades nas tabelas

In [ ]:
def valida_modalidade(dataframe):
    invalidos = list()
    referencia = [ID for ID in modalidade['cod_modalidade']]
    amostra = [ID for ID in dataframe['id_mod']]
    for ID in amostra:
      if ID not in referencia:
        invalidos.append(ID)

    if len(invalidos) == 0:
      print(f"100% dos ID's da tabela {dataframe.nome} estão referenciados na tabela de fontes")

    else:
      porcentagem = (len(invalidos) / len(amostra)) * 100
      print(f"{porcentagem}% dos ID's da tabela de {dataframe.nome} não estão referenciados na tabela de fontes. Os ID's incorretos estão listados abaixo:")
      print(invalidos)

#### 3.5 Formatando data de vencimento

In [48]:
'Formata a data de vencimento'
def Formata_DATAVENCIMENTO(DataFrame):
    DataCerta = []
    DataFrame = DataFrame['data_vencimento'].to_list()
    for i in DataFrame:
        if len(str(i)) == 8:
            dia = str(i)[0:2]
            mes = str(i)[2:4]
            ano = str(i)[4:]
            if int(dia) < 32 and int(mes) < 13:
                dat = str(i)[0:2] + '-' + str(i)[2:4] + '-' + str(i)[4:]
            else:
                dat = 'Data possui informações invalidas'  
            DataCerta.append(dat)
    return DataCerta



Formata_DATAVENCIMENTO(pagamento)

['16-08-2022',
 '26-10-2020',
 '24-02-2019',
 '24-06-2018',
 '20-02-2021',
 '24-12-2018',
 '27-03-2016',
 '21-03-2018',
 '28-11-2018',
 '13-03-2019',
 '19-12-2018',
 '16-06-2016',
 '16-03-2018',
 '20-04-2021',
 '19-06-2018',
 '21-07-2019',
 '27-11-2018',
 '15-05-2025',
 '14-12-2018',
 '25-12-2018',
 '17-04-2019',
 '10-05-2019',
 '26-12-2019',
 '18-01-2019',
 '28-08-2018',
 '24-09-2018',
 '31-07-2026',
 '24-11-2023',
 '28-06-2017',
 '28-12-2019',
 '10-01-2015',
 '20-11-2018',
 '22-10-2018',
 '28-02-2020',
 '28-10-2018',
 '13-07-2016',
 '25-02-2019',
 '14-05-2021',
 '16-11-2017',
 '28-10-2023',
 '17-08-2020',
 '13-07-2015',
 '28-01-2015',
 '20-11-2023',
 '29-12-2023',
 '23-02-2024',
 '23-04-2020',
 '11-06-2016',
 '18-10-2024',
 '17-07-2021',
 '16-05-2020',
 '16-01-2015',
 '15-04-2021',
 '30-09-2016',
 '24-08-2018',
 '23-08-2020',
 '15-03-2021',
 '25-07-2018',
 '30-06-2019',
 '31-03-2019',
 '25-11-2025',
 '15-07-2019',
 '16-01-2019',
 '29-01-2019',
 '11-03-2019',
 '17-02-2020',
 '28-08-2019',
 '16-05-2019',
 '10-03-2026',
 '19-08-2018',
 '15-09-2025',
 '25-12-2017',
 '28-02-2020',
 '25-09-2021',
 '27-01-2019',
 '14-02-2019',
 '16-11-2019',
 '16-04-2020',
 '29-12-2019',
 '25-06-2018',
 '28-02-2024',
 '23-06-2023',
 '31-01-2019',
 '10-11-2017',
 '26-06-2018',
 '23-10-2019',
 '19-06-2018',
 '24-01-2019',
 '19-06-2019',
 '28-10-2018',
 '25-08-2025',
 '17-02-2020',
 '30-08-2018',
 '10-01-2017',
 '17-11-2019',
 '16-07-2023',
 '28-12-2022',
 '13-12-2020',
 '14-04-2015',
 '31-08-2021',
 '20-08-2022',
 '22-12-2023',
 '25-09-2021',
 '23-06-2019',
 '20-12-2020',
 '22-12-2025',
 '23-10-2018',
 '13-11-2020',
 '19-05-2020',
 '12-03-2015',
 '15-08-2017',
 '22-05-2016',
 '25-11-2019',
 '27-04-2017',
 '18-04-2024',
 '31-01-2018',
 '22-05-2017',
 '26-02-2029',
 '22-05-2029',
 '22-04-2019',
 '12-04-2023',
 '28-07-2019',
 '17-04-2019',
 '27-07-2019',
 '10-06-2019',
 '19-12-2019',
 '27-03-2019',
 '28-04-2026',
 '24-09-2020',
 '30-01-2019',
 '18-02-2019',
 '26-08-2019',
 '13-09-2021',
 '21-09-2022',
 '13-11-2019',
 '14-02-2019',
 '20-07-2023',
 '15-10-2021',
 '25-05-2022',
 '29-07-2022',
 '19-03-2020',
 '14-02-2020',
 '17-05-2019',
 '28-05-2024',
 '19-06-2022',
 '27-03-2023',
 '28-02-2017',
 '24-07-2019',
 '27-11-2018',
 '20-10-2022',
 '12-02-2022',
 '17-01-2024',
 '17-05-2017',
 '12-01-2015',
 '11-11-2018',
 '14-03-2021',
 '19-02-2021',
 '11-04-2033',
 '19-05-2021',
 '16-01-2021',
 '28-06-2015',
 '23-04-2024',
 '27-06-2020',
 '15-10-2018',
 '22-08-2024',
 '23-06-2023',
 '12-08-2024',
 '23-11-2020',
 '18-02-2025',
 '24-03-2021',
 '18-10-2021',
 '27-11-2025',
 '10-03-2023',
 '10-07-2019',
 '30-08-2025',
 '17-07-2019',
 '15-12-2020',
 '30-12-2023',
 '31-03-2023',
 '11-09-2019',
 '18-06-2019',
 '23-08-2019',
 '24-08-2021',
 '18-07-2019',
 '15-01-2024',
 '20-09-2020',
 '12-10-2019',
 '10-04-2021',
 '14-12-2020',
 '12-03-2019',
 '21-02-2020',
 '17-06-2019',
 '23-10-2019',
 '14-09-2019',
 '29-07-2020',
 '29-04-2020',
 '14-06-2020',
 '25-04-2025',
 '25-09-2016',
 '14-12-2020',
 '22-09-2020',
 '24-03-2019',
 '23-08-2022',
 '12-01-2024',
 '14-08-2025',
 '22-09-2019',
 '12-07-2020',
 '13-02-2019',
 '29-01-2024',
 '26-05-2020',
 '13-12-2018',
 '22-07-2025',
 '14-05-2023',
 '12-01-2022',
 '27-01-2018',
 '20-08-2026',
 '16-09-2020',
 '17-04-2025',
 '20-08-2027',
 '22-10-2017',
 '18-03-2017',
 '15-08-2024',
 '12-05-2021',
 '24-10-2025',
 '24-01-2028',
 '19-08-2021',
 '13-10-2018',
 '28-12-2026',
 '14-09-2018',
 '15-07-2019',
 '10-03-2019',
 '10-11-2019',
 '16-04-2021',
 '13-08-2019',
 '27-06-2019',
 '11-08-2020',
 '23-08-2019',
 '12-05-2021',
 '16-02-2024',
 '18-11-2019',
 '14-05-2018',
 '19-02-2019',
 '21-07-2020',
 '22-10-2021',
 '21-12-2016',
 '14-09-2018',
 '20-10-2016',
 '11-04-2018',
 '25-01-2019',
 '25-06-2025',
 '20-06-2025',
 '19-07-2018',
 '31-08-2026',
 '30-04-2024',
 '30-03-2024',
 '30-10-2025',
 '17-07-2019',
 '28-05-2024',
 '10-02-2021',
 '23-09-2022',
 '25-02-2017',
 '12-11-2016',
 '14-02-2020',
 '16-08-2016',
 '15-05-2018',
 '31-07-2020',
 '17-10-2024',
 '16-01-2021',
 '22-11-2021',
 '26-09-2020',
 '26-05-2023',
 '14-11-2024',
 '25-11-2020',
 '19-07-2023',
 '24-05-2018',
 '16-06-2025',
 '27-06-2030',
 '26-05-2025',
 '10-05-2024',
 '15-09-2024',
 '23-04-2019',
 '23-10-2019',
 '25-04-2019',
 '15-02-2020',
 '29-09-2015',
 '10-01-2019',
 '13-01-2019',
 '20-10-2019',
 '10-01-2024',
 '19-08-2021',
 '27-06-2020',
 '31-05-2026',
 '28-03-2026',
 '11-06-2019',
 '22-01-2019',
 '26-12-2019',
 '30-10-2019',
 '22-04-2021',
 '25-12-2023',
 '29-08-2017',
 '16-01-2021',
 '13-08-2019',
 '24-02-2016',
 '14-08-2023',
 '17-08-2020',
 '29-06-2019',
 '22-02-2016',
 '21-05-2020',
 '12-02-2015',
 '25-01-2024',
 '24-02-2017',
 '20-09-2015',
 '16-10-2018',
 '27-08-2015',
 '20-03-2027',
 '26-11-2029',
 '21-11-2018',
 '10-08-2020',
 '28-11-2024',
 '10-08-2017',
 '23-01-2020',
 '24-01-2020',
 '15-02-2019',
 '15-03-2021',
 '12-03-2019',
 '24-01-2019',
 '15-04-2022',
 '20-01-2019',
 '18-01-2020',
 '15-07-2019',
 '20-01-2020',
 '16-09-2021',
 '24-07-2020',
 '21-11-2019',
 '26-04-2019',
 '11-11-2020',
 '10-03-2021',
 '12-10-2015',
 '11-10-2019',
 '25-12-2017',
 '21-09-2023',
 '28-10-2017',
 '25-10-2025',
 '10-11-2017',
 '12-08-2022',
 '28-01-2021',
 '23-05-2019',
 '19-05-2026',
 '31-07-2025',
 '22-01-2024',
 '24-11-2023',
 '21-04-2021',
 '25-04-2017',
 '26-11-2024',
 '19-01-2022',
 '31-08-2024',
 '13-02-2021',
 '18-02-2021',
 '29-06-2018',
 '16-05-2022',
 '12-05-2020',
 '17-08-2020',
 '25-02-2033',
 '18-05-2021',
 '10-06-2015',
 '25-04-2024',
 '25-01-2018',
 '15-06-2024',
 '20-01-2026',
 '21-12-2019',
 '11-05-2018',
 '13-02-2019',
 '10-05-2021',
 '15-01-2019',
 '15-10-2019',
 '22-03-2020',
 '28-03-2021',
 '13-02-2024',
 '16-02-2020',
 '17-12-2016',
 '19-05-2020',
 '31-08-2018',
 '29-10-2015',
 '10-08-2033',
 '21-10-2024',
 '16-06-2017',
 '18-12-2024',
 '10-12-2024',
 '10-01-2022',
 '15-01-2021',
 '10-09-2019',
 '25-12-2018',
 '16-02-2019',
 '28-03-2019',
 '16-12-2018',
 '31-10-2019',
 '11-03-2020',
 '11-03-2021',
 '14-01-2020',
 '14-03-2020',
 '20-10-2019',
 '13-02-2020',
 '21-07-2019',
 '10-06-2021',
 '23-02-2016',
 '10-03-2027',
 '10-07-2020',
 '13-08-2016',
 '10-01-2016',
 '18-11-2021',
 '17-07-2023',
 '13-01-2021',
 '28-02-2023',
 '13-09-2020',
 '16-07-2022',
 '24-05-2022',
 '30-05-2023',
 '19-07-2018',
 '11-02-2023',
 '16-06-2023',
 '20-04-2020',
 '20-02-2025',
 '22-07-2024',
 '14-04-2021',
 '22-07-2021',
 '14-03-2023',
 '27-05-2030',
 '26-01-2024',
 '28-03-2021',
 '12-11-2022',
 '19-08-2019',
 '19-07-2020',
 '22-05-2018',
 '29-07-2019',
 '18-04-2019',
 '13-03-2021',
 '16-05-2017',
 '24-07-2018',
 '10-03-2019',
 '13-01-2024',
 '18-02-2028',
 '24-04-2023',
 '29-01-2019',
 '29-04-2020',
 '14-05-2021',
 '10-07-2020',
 '16-07-2024',
 '30-04-2019',
 '30-09-2021',
 '30-10-2022',
 '22-05-2019',
 '24-08-2026',
 '16-06-2024',
 '16-09-2020',
 '20-04-2029',
 '17-12-2025',
 '11-05-2019',
 '24-06-2019',
 '24-05-2019',
 '16-05-2019',
 '18-02-2020',
 '26-10-2019',
 '13-09-2018',
 '30-12-2019',
 '11-12-2019',
 '19-12-2019',
 '19-09-2019',
 '21-08-2019',
 '30-03-2023',
 '30-01-2018',
 '20-07-2025',
 '17-01-2020',
 '25-02-2020',
 '12-07-2018',
 '30-06-2018',
 '10-09-2019',
 '26-02-2020',
 '23-12-2019',
 '13-01-2018',
 '11-12-2019',
 '24-01-2023',
 '22-01-2019',
 '21-02-2021',
 '24-04-2025',
 '21-09-2018',
 '28-04-2019',
 '28-09-2016',
 '14-05-2018',
 '30-04-2020',
 '22-02-2025',
 '28-05-2017',
 '20-12-2026',
 '31-08-2019',
 '19-04-2024',
 '19-08-2019',
 '14-04-2019',
 '15-07-2024',
 '13-11-2023',
 '11-09-2018',
 '10-09-2017',
 '15-05-2015',
 '25-01-2015',
 '16-11-2017',
 '14-06-2026',
 '25-08-2015',
 '14-02-2027',
 '24-03-2018',
 '21-06-2020',
 '17-04-2024',
 '30-12-2024',
 '28-03-2015',
 '18-09-2020',
 '18-12-2029',
 '30-05-2015',
 '18-06-2027',
 '12-11-2019',
 '12-01-2020',
 '18-09-2019',
 '12-08-2020',
 '16-12-2021',
 '14-04-2019',
 '24-08-2019',
 '15-02-2023',
 '22-03-2020',
 '10-12-2016',
 '30-12-2026',
 '30-01-2022',
 '29-07-2019',
 '10-12-2018',
 '31-07-2025',
 '13-12-2021',
 '29-05-2019',
 '16-11-2018',
 '12-06-2020',
 '12-09-2017',
 '25-02-2023',
 '15-03-2022',
 '11-01-2018',
 '19-11-2025',
 '15-05-2025',
 '24-02-2033',
 '14-12-2027',
 '29-09-2018',
 '10-08-2019',
 '13-04-2019',
 '25-02-2019',
 '18-10-2019',
 '10-09-2024',
 '20-07-2026',
 '16-12-2019',
 '15-03-2020',
 '12-07-2019',
 '13-11-2019',
 '21-03-2019',
 '31-07-2022',
 '15-06-2019',
 '16-11-2018',
 '16-03-2020',
 '13-05-2020',
 '10-09-2018',
 '15-09-2019',
 '13-05-2019',
 '22-03-2021',
 '14-11-2019',
 '25-10-2019',
 '11-10-2016',
 '28-06-2022',
 '10-07-2015',
 '30-03-2017',
 '30-07-2024',
 '25-04-2023',
 '13-06-2019',
 '29-07-2017',
 '14-08-2024',
 '26-01-2018',
 '11-03-2016',
 '22-03-2027',
 '25-09-2018',
 '30-12-2023',
 '13-03-2020',
 '11-12-2023',
 '13-09-2015',
 '26-08-2021',
 '22-10-2023',
 '27-05-2018',
 '29-12-2020',
 '29-08-2020',
 '18-06-2021',
 '16-04-2024',
 '16-01-2021',
 '12-11-2023',
 '19-08-2019',
 '31-12-2018',
 '21-02-2019',
 '10-09-2019',
 '14-10-2019',
 '25-10-2019',
 '21-01-2019',
 '27-07-2019',
 '14-05-2019',
 '20-08-2019',
 '24-11-2022',
 '18-04-2020',
 '27-02-2020',
 '30-03-2020',
 '26-10-2020',
 '28-09-2022',
 '10-06-2027',
 '17-06-2019',
 '28-11-2019',
 '25-03-2019',
 '26-02-2019',
 '28-10-2019',
 '12-09-2019',
 '20-11-2021',
 '15-01-2019',
 '25-08-2020',
 '23-01-2020',
 '25-10-2021',
 '29-12-2021',
 '18-12-2019',
 '14-03-2016',
 '25-07-2016',
 '16-05-2019',
 '26-06-2020',
 '25-10-2018',
 '20-12-2021',
 '31-05-2019',
 '23-05-2019',
 '15-03-2015',
 '17-05-2025',
 '28-06-2021',
 '25-05-2015',
 '30-10-2022',
 '22-04-2026',
 '15-12-2023',
 '13-11-2017',
 '22-12-2023',
 '29-09-2019',
 '26-07-2018',
 '19-06-2021',
 '11-11-2018',
 '19-07-2024',
 '29-05-2022',
 '18-07-2015',
 '21-01-2019',
 '27-01-2020',
 '16-09-2020',
 '15-06-2015',
 '26-10-2023',
 '29-01-2024',
 '10-11-2033',
 '24-10-2019',
 '25-05-2018',
 '22-11-2019',
 '23-09-2019',
 '20-09-2019',
 '18-10-2019',
 '14-01-2019',
 '25-02-2019',
 '11-01-2019',
 '29-08-2018',
 '20-10-2020',
 '18-12-2018',
 '20-07-2020',
 '20-07-2022',
 '18-01-2019',
 '18-02-2022',
 '14-05-2021',
 '14-11-2019',
 '31-10-2020',
 '20-07-2015',
 '11-04-2020',
 '18-12-2020',
 '10-09-2022',
 '11-10-2023',
 '17-10-2025',
 '17-03-2023',
 '17-05-2024',
 '14-02-2022',
 '15-11-2027',
 '12-03-2024',
 '10-09-2020',
 '19-03-2023',
 '29-10-2019',
 '17-12-2021',
 '15-09-2025',
 '10-01-2016',
 '10-05-2034',
 '25-09-2026',
 '29-01-2020',
 '15-04-2017',
 '10-09-2015',
 '12-06-2034',
 '15-10-2024',
 '27-01-2031',
 '20-03-2019',
 '20-06-2019',
 '20-08-2019',
 '17-11-2019',
 '18-01-2021',
 '10-03-2020',
 '27-01-2020',
 '30-03-2019',
 '23-01-2019',
 '14-01-2020',
 '29-02-2024',
 '22-12-2020',
 '26-06-2022',
 '20-09-2021',
 '10-07-2023',
 '30-11-2021',
 '10-09-2027',
 '17-10-2022',
 '13-09-2018',
 '24-10-2020',
 '25-03-2023',
 '18-04-2018',
 '24-06-2019',
 '31-01-2025',
 '20-02-2015',
 '28-02-2020',
 '27-06-2019',
 '13-04-2020',
 '24-12-2022',
 '22-08-2023',
 '17-11-2018',
 '24-10-2017',
 '22-12-2020',
 '27-10-2017',
 '30-07-2018',
 '13-09-2020',
 '22-07-2020',
 '16-12-2017',
 '15-12-2019',
 '12-12-2018',
 '21-12-2020',
 '11-05-2020',
 '24-05-2027',
 '16-02-2017',
 '15-05-2015',
 '19-01-2018',
 '16-02-2016',
 '23-04-2021',
 '10-12-2025',
 '15-06-2020',
 '25-04-2019',
 '28-12-2018',
 '31-01-2019',
 '26-09-2019',
 '30-10-2019',
 '14-06-2019',
 '16-11-2019',
 '23-03-2021',
 '13-05-2019',
 '18-07-2019',
 '25-12-2020',
 '14-11-2022',
 '26-08-2019',
 '11-02-2020',
 '29-01-2019',
 '14-02-2022',
 '13-01-2020',
 '15-12-2021',
 '15-02-2020',
 '15-02-2020',
 '25-10-2022',
 '20-11-2018',
 '15-10-2025',
 '10-06-2020',
 '25-04-2021',
 '16-08-2018',
 '10-02-2021',
 '22-12-2021',
 '20-09-2020',
 '15-10-2019',
 '21-10-2016',
 '24-02-2019',
 '18-07-2016',
 '23-10-2020',
 '12-09-2018',
 '16-04-2019',
 '18-05-2017',
 '25-05-2016',
 '17-07-2020',
 '28-06-2020',
 '15-03-2015',
 '13-07-2019',
 '16-04-2020',
 '12-06-2016',
 '22-01-2016',
 '11-07-2025',
 '19-03-2023',
 '23-12-2023',
 '12-11-2025',
 '15-06-2021',
 '25-08-2016',
 '26-06-2024',
 '24-08-2018',
 '16-01-2018',
 '19-12-2024',
 '15-08-2018',
 '21-06-2016',
 '27-01-2021',
 '20-12-2032',
 '10-12-2026',
 '23-04-2018',
 '20-04-2017',
 '31-12-2017',
 '25-10-2032',
 '22-06-2020',
 '15-02-2019',
 '12-03-2019',
 '15-08-2019',
 '15-09-2019',
 '28-10-2019',
 '10-01-2021',
 '20-12-2022',
 '11-04-2020',
 '10-07-2018',
 '28-02-2019',
 '15-08-2018',
 '22-03-2019',
 '16-06-2020',
 '22-08-2019',
 '15-10-2021',
 '17-11-2022',
 '18-08-2020',
 '28-10-2016',
 '18-03-2016',
 '28-10-2024',
 '25-01-2022',
 '23-06-2018',
 '20-05-2024',
 '24-06-2027',
 '28-07-2017',
 '21-12-2021',
 '20-05-2022',
 '13-10-2026',
 '21-12-2019',
 '29-05-2023',
 '13-03-2021',
 '20-07-2020',
 '18-05-2020',
 '17-01-2023',
 '13-02-2017',
 '21-08-2020',
 '14-11-2020',
 '16-07-2016',
 '21-05-2015',
 '22-01-2020',
 '17-10-2023',
 '16-04-2021',
 '25-05-2033',
 '17-07-2019',
 '11-01-2027',
 '10-09-2019',
 '28-01-2015',
 '15-06-2019',
 '28-04-2019',
 '10-01-2019',
 '10-07-2019',
 '17-05-2018',
 '17-04-2019',
 '17-03-2022',
 '10-08-2017',
 '21-10-2019',
 '15-03-2019',
 '13-12-2018',
 '21-11-2019',
 '11-07-2019',
 '21-02-2019',
 '25-05-2019',
 '28-04-2019',
 '29-06-2019',
 '14-12-2018',
 '18-06-2021',
 '26-06-2019',
 '24-12-2018',
 '25-09-2020',
 '16-08-2024',
 '26-08-2022',
 '21-09-2020',
 '28-08-2018',
 '22-06-2023',
 '25-08-2023',
 '25-11-2026',
 '31-07-2020',
 '25-07-2023',
 '15-05-2017',
 '14-06-2023',
 '19-01-2021',
 '28-06-2016',
 '26-08-2016',
 '31-01-2026',
 '27-12-2015',
 '23-11-2023',
 '14-01-2027',
 '17-10-2024',
 '21-12-2026',
 '30-03-2024',
 '29-04-2018',
 '23-11-2018',
 '24-07-2023',
 '29-09-2022',
 '23-07-2029',
 '29-06-2016',
 '17-02-2018',
 '12-08-2023',
 '19-05-2024',
 '11-06-2020',
 '11-10-2019',
 '13-06-2019',
 '20-04-2019',
 '16-08-2019',
 '20-11-2019',
 '10-10-2018',
 '17-12-2019',
 '16-06-2019',
 '29-01-2017',
 '15-04-2026',
 '14-09-2019',
 '10-01-2020',
 '25-09-2020',
 '16-10-2019',
 '27-05-2019',
 '15-01-2016',
 '22-12-2022',
 '29-09-2020',
 '28-01-2019',
 '27-10-2020',
 '30-06-2020',
 '24-10-2018',
 '10-01-2018',
 '16-01-2019',
 '25-08-2018',
 '25-10-2018',
 '14-02-2020',
 '21-08-2016',
 '13-08-2021',
 '29-09-2023',
 '13-03-2020',
 '27-10-2019',
 '17-08-2023',
 '30-01-2020',
 '28-09-2022',
 '27-01-2021',
 '17-04-2023',
 '23-03-2023',
 '17-12-2020',
 '13-10-2016',
 '28-11-2020',
 '17-05-2023',
 '30-01-2020',
 '11-07-2024',
 '29-04-2024',
 '20-02-2024',
 '29-07-2019',
 '19-08-2023',
 '24-03-2024',
 '17-07-2018',
 '16-06-2017',
 '12-05-2024',
 '20-11-2017',
 '19-08-2019',
 '16-09-2019',
 '15-11-2019',
 '10-04-2019',
 '31-08-2019',
 '15-06-2018',
 '22-05-2024',
 '14-06-2019',
 '14-05-2020',
 '15-12-2024',
 '30-08-2026',
 '20-11-2017',
 '14-07-2019',
 '21-11-2020',
 '16-01-2019',
 '28-01-2019',
 '19-10-2018',
 '14-11-2015',
 '19-07-2020',
 '18-03-2024',
 '29-10-2020',
 '21-10-2022',
 '29-10-2016',
 '11-11-2022',
 '15-04-2017',
 '25-05-2023',
 '10-01-2021',
 '31-12-2026',
 '29-02-2024',
 '18-11-2017',
 '25-07-2016',
 '25-03-2016',
 '29-12-2015',
 '11-07-2020',
 '22-11-2020',
 '24-10-2018',
 ...]

0